.app-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.spacer {
  flex: 1 1 auto;
}

.main-content {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}

nav a {
  margin-left: 10px;
}

nav a.active {
  background-color: rgba(255, 255, 255, 0.2);
}